:root {
  --frame1: #a17018;
  --frame2: #6a3415;
  --frame3: #915f04;
}

html, body {
  min-height: 100%;
  font-family: monospace;
}
@keyframes bounce {
  0% {
    transform: none;
  }

  25%, 75% {
    transform: translateY(150px);
  }

  100% {
    transform: translateY(200px);
  }
}
body {
  background-color: red;
  padding: 25px 50px 50px;
  text-align: center;
  background-image: radial-gradient(transparent 20%, #0000000d 20%, 50%, transparent 50%),
  radial-gradient(circle at 0 0, #0000000d 10%, transparent 10%),
  radial-gradient(circle at 100% 0, #0000000d 10%, transparent 10%),
  radial-gradient(circle at 100% 100%, #0000000d 10%, transparent 10%),
  radial-gradient(circle at 0 100%, #0000000d 10%, transparent 10%),
  linear-gradient(-135deg, #07050561, #000000ba);
  background-size: 100px 100px,
  100px 100px, 100px 100px, 100px 100px, 100px 100px,
  100% 100%;
  background-blend-mode: multiply;
}

h1 {
  color: blanchedalmond;
  margin: 0;
  padding: 0 0 25px;
  font-size: 3em;
  letter-spacing: 0.1em;
}

#canvas {
  margin: 30px auto;
  width: 500px;
  height: 600px;
  background-color: white;
  position: relative;
}

#canvas:before {
  content: "";
  pointer-events: none;
  top: -30px;
  right: -30px;
  bottom: -30px;
  left: -30px;
  background-image:
  conic-gradient(from -45deg at 100% 100%, var(--frame3), transparent 10% 85%, transparent, var(--frame2)),
  conic-gradient(from 45deg at 0% 100%, var(--frame2), transparent 15% 75%, transparent, var(--frame3)),
  conic-gradient(from 135deg at 0 0, var(--frame2), transparent 10% 65%, transparent, var(--frame3)),
  conic-gradient(from 225deg at 100% 0%, var(--frame3), transparent 10% 70%, transparent, var(--frame2)),
  radial-gradient(var(--frame1), var(--frame2), transparent 50%),
  radial-gradient(var(--frame1), var(--frame2), transparent 50%),
  radial-gradient(var(--frame1), var(--frame2), transparent 50%),
  radial-gradient(var(--frame1), var(--frame2), transparent 50%),
  linear-gradient(to right, var(--frame1), var(--frame2), var(--frame3), var(--frame2), var(--frame3)),
  linear-gradient(to left, var(--frame1), var(--frame2), var(--frame3), var(--frame2), var(--frame3)),
  linear-gradient(to bottom, var(--frame1), var(--frame2), var(--frame3), var(--frame2), var(--frame3)),
  linear-gradient(to top,  var(--frame1), var(--frame2), var(--frame3), var(--frame2), var(--frame3));
  background-size: 30px 30px, 30px 30px, 30px 30px, 30px 30px,
  15px 15px, 15px 15px, 15px 15px, 15px 15px,
  30px 30px, 30px 30px, 30px 30px, 30px 30px;
  background-repeat: no-repeat,no-repeat,no-repeat,no-repeat,
  repeat-y, repeat-y, repeat-x, repeat-x,
  repeat-y, repeat-y, repeat-x, repeat-x;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%,
  0 0, 100% 0, 0 0, 0 100%,
  0 0, 100% 0, 0 0, 0 100%;
  color: rgba(0,0,0,0.75);
  filter: drop-shadow(-0.5em 0.5em 1em);
  box-shadow: -1em 3em 1em -2em rgba(0,0,0.25);
}

#canvas *, #canvas:before, #canvas:after, #canvas *:before, #canvas *:after {
  position: absolute;
}

.ball {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  animation: bounce 3s infinite linear;
}

.red {
  background: red;
}
.orange {
  background: orange;
}
.yellow {
  background: yellow;
}
.green {
  background: green;
}
.blue {
  background: blue;
}
.purple {
  background: purple;
}