[data-test-id="confluence-main-content"] div {
  background: #ffe3f2;
}
[data-test-id="confluence-main-content"] a {
  color: deeppink;
}
[data-test-id="confluence-main-content"] button[aria-label="Share"] {
  background-color: deeppink;
}

[data-testid="grid-left-sidebar"] {
  background: #ffcae5;
}

[data-item-title="true"] {
  color: black;
}

[data-item-title="true"] > span.title {
  color: deeppink;
  font-weight: bold;
}

[data-testid="space-navigation-overview-link"] {
  background: #fee3f2;
}
[data-testid="space-navigation-overview-link"]:hover {
  background: lightpink;
}
[data-testid="space-navigation-overview-link"] span {
  color: red;
}
[data-testid="space-navigation-blog-link--item"] {
  background: #fff3e2;
}

[data-testid="space-navigation-blog-link--item"] span {
  color: orange;
}

#main-content h2 {
  font-family: "Georgia", serif;
  font-size: 2.5rem;
}
