@keyframes roll {
    0% {
        top: -10%;
        transform: rotate(0deg);
        opacity: 1;
    }
    50% {
        transform: rotate(-360deg);
        opacity: 0.4;

    }
    100% {
        top: 100%;
        transform: rotate(180deg);
        opacity: 1;
    }
}

body:after, body:before, #content:after, #header:after, #footer:after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: fixed;
    z-index: 99999;
    top: -30px;
    filter: blur(2px);
    background-image: linear-gradient(to right, transparent 40%, white 50%, transparent 60%),
    linear-gradient(to bottom, transparent 40%, white 50%, transparent 60%),
    linear-gradient(45deg, transparent 45%, white 50%, transparent 55%),
    linear-gradient(-45deg, transparent 45%, white 50%, transparent 55%);
    background-size: 90% 90%, 90% 90%, 100% 100%, 100% 100%;
    background-position: center center, center center, center center, center center;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    transition: all 6s;
    animation-name: roll;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

body:after {
    left: 20%;
}
#footer:after {
    left: 40%;
    width: 20px;
    height: 20px;
    animation-delay 7s;
}
#content:after {
    left: 50%;
    animation-delay: 3s;
    top: -100px;
    width: 20px;
    height: 20px;
}

#header:after {
    animation-delay: 2s;
    left: 80%;
}
body:before {
    left: 35%;
    animation-delay: 4s;
}

@keyframes rainbowing {
    0% {background-image: repeating-radial-gradient(circle at 60% 100%, #8a3a3a, #7d3b3b 1%, #865e41 1%, #865e41 2%, #867d41 2%, #867d41 3%, #418441 3%, #418441 4%, #456988 4%, #456988 5%, #744285 5%, #744285 6%, #823e5d 6%, #823e5d 7%);}
   20% {background-image: repeating-radial-gradient(circle at 60% 100%, #823e5d, #823e5d 1%, #8a3a3a 1%, #7d3b3b 2%, #865e41 2%, #865e41 3%, #867d41 3%, #867d41 4%, #418441 4%, #418441 5%, #456988 5%, #456988 6%, #744285 6%, #744285 7%);}
   40% {background-image: repeating-radial-gradient(circle at 60% 100%, #744285, #744285 1%, #823e5d 1%, #823e5d 2%, #8a3a3a 2%, #7d3b3b 3%, #865e41 3%, #865e41 4%, #867d41 4%, #867d41 5%, #418441 5%, #418441 6%, #456988 6%, #456988 7%);}
   60% {background-image: repeating-radial-gradient(circle at 60% 100%, #456988, #456988 1%, #744285 1%, #744285 2%, #823e5d 2%, #823e5d 3%, #8a3a3a 3%, #7d3b3b 4%, #865e41 4%, #865e41 5%, #867d41 5%, #867d41 6%, #418441 6%, #418441 7%);}
   70% {background-image: repeating-radial-gradient(circle at 60% 100%, #418441, #418441 1%, #456988 1%, #456988 2%, #744285 2%, #744285 3%, #823e5d 3%, #823e5d 4%, #8a3a3a 4%, #7d3b3b 5%, #865e41 5%, #865e41 6%, #867d41 6%, #867d41 7%);}
   82% {background-image: repeating-radial-gradient(circle at 60% 100%, #867d41, #867d41 1%, #418441 1%, #418441 2%, #456988 2%, #456988 3%, #744285 3%, #744285 4%, #823e5d 4%, #823e5d 5%, #8a3a3a 5%, #7d3b3b 6%, #865e41 6%, #865e41 7%);}
  100% {background-image: repeating-radial-gradient(circle at 60% 100%, #865e41, #865e41 1%, #867d41 1%, #867d41 2%, #418441 2%, #418441 3%, #456988 3%, #456988 4%, #744285 4%, #744285 5%, #823e5d 5%, #823e5d 6%, #8a3a3a 6%, #7d3b3b 7%);}
}

html, body {
    font-family: 'Lucida Grande', sans-serif;
    color: white;
    background: #100c0b;
    overflow-x: hidden;
}
html body .employee-container-button {
    display: none;
}
html body a {
    color: #ad6e8e;
}

html body * {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

html body .subtle-text {
    color: #f3dde8;
}

nav.aui-header {
    background-color: #ea2688 !important;
    background-image: linear-gradient(to right, #100c0c 190px, #251e1e);
    border: 0;
    padding: 8px;
}

ol.aui-nav-breadcrumbs {
    text-align: center;
    display: flex;
    width: 134px;
    padding: 15px 10px 0 0;
    flex-direction: column-reverse;
    margin-left: auto;
    z-index: 9999999999;
    position: relative;
}

ol.aui-nav-breadcrumbs > li {
    margin: 0;
    padding: 0 0 10px;
}

ol.aui-nav-breadcrumbs > li > a {
    color: #dacdbd;
    display: block;
    margin: auto;
}

ol.aui-nav-breadcrumbs > li:before {
    content: "";
    height: 10px;
    width: 10px;
    margin: 10px auto;
    transform: rotate(45deg);
    border-top: 1px solid;
    border-left: 1px solid;
    filter: blur(2px);
    color: #fffeeb;
    display: block;
    padding: 0;
}

ol.aui-nav-breadcrumbs > li.nav-selected {
    color: #cca38e;
    display: block;
    width: 128px;
    height: 128px;
    margin-bottom: 26px;
    padding: 46px 26px;
    line-height: 1.4;
    box-sizing: border-box;
    border-radius: 50%;
    text-align: center;
    position: relative;
    z-index: 888888;
    background-color: #ffffff;
}

ol.aui-nav-breadcrumbs > li.nav-selected:before {
    content: none;
}

section#content {
    display: flex;
    flex-direction: row-reverse;
    order: 0;
    overflow: hidden;
    margin: auto;
    background-color: #27111f;
    background-image: repeating-radial-gradient(circle at 60% 100%, #7d3b3b, #7d3b3b 1%, #865e41 1%, #865e41 2%, #867d41 2%, #867d41 3%, #418441 3%, #418441 4%, #455388 4%, #455388 5%, #744285 5%, #744285 6%, #823e5d 6%, #823e5d 7%);
    max-width: 100%;
    animation: rainbowing 1s infinite;
}

#content > header.aui-page-header {
    overflow: hidden;
    width: 371px;
    position: absolute;
    padding: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 99;
    transform: skew(25deg);
    transform-origin: 100% 0;
    box-shadow: -2px 0 0 0 #0c5271,
    -4px 0 0 0 #ccc2b3,
    -20px 1px 200px 355px rgba(251, 123, 176, 0.25), -20px 1px 200px 205px rgba(251, 123, 176, 0.25);
    background-color: #256b88;
}
#content > header.aui-page-header:after {
    content: "";
    display: block;
    position: absolute;
    pointer-events: none;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 0;
    background-image: linear-gradient(to right, #226484a3, transparent 50%);
}
header.aui-page-header .aui-page-header-inner {
    transform-origin: 100% 0;
    transform: skew(-25deg);
    height: 100%;
    float: right;
}

header.aui-page-header .aui-page-header-inner .aui-page-header-main {
    display: block;
    background-image: radial-gradient(circle at calc(100% - 81px) 74px, #ffffff 55px, transparent 115px), linear-gradient(to top, #256b88 50px, #ffdf85);
}
.aui-page-panel.employee-page {
    background-color: transparent;
    border: 0;
    overflow: hidden;
}

.aui-page-panel-inner {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 700px;
    margin-left: 0;
    min-height: 700px;
    overflow: hidden;
    background: #6b0c29;
    box-shadow: 1px 1px 200px 101px #150b0d;
    border-radius: 0 0 100% 0;
    transform-origin: 100% 100%;
}

.aui-page-panel-inner > .aui-page-panel-content {
    padding: 0;
}

a.aui-icon.aui-icon-small.breadcrumbs-leadership-logo {
    width: 32px;
    height: 32px;
    background-size: 100% 100%;
    filter: hue-rotate(170deg);
}

.employee-position.aui-group .progress .bar {
    background-color: #1f1a54;
    float: none;
    display: inline-block;
}

.employee-position.aui-group .progress .bar.bar-success {
    background-color: #4035ad;
}

header#header {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999999;
}

section.aui-page-panel-content.avatar-section {
    padding: 0 0 10px;
    width: auto;
    text-align: left;
    background-color: #6b0c2a;
}

section.aui-page-panel-content.avatar-section .aui-avatar {
    margin: 0;
    padding: 0;
    border-radius: 0 0 90% 0;
    overflow: hidden;
}

section.aui-page-panel-content.avatar-section .aui-avatar img {
    border-radius: 0;
    z-index: 9999999;
    position: relative;
}

section.aui-page-panel-content:nth-child(2) {
    position: relative;
    padding: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.aui-tabs.horizontal-tabs>.tabs-menu~.tabs-pane {
    border: 0;
}

html body .aui-group {
    display: flex;
    flex-direction: column;
}

html body #content .aui-group .aui-item {
    padding: 0;
    text-align: left;
    width: auto;
}
html body #content .aui-group.employee-position .aui-item .item-key {
    display: none;
}
html body .aui-group .aui-item + .aui-item {
    padding-left: 0;
}

.aui-tabs.horizontal-tabs>.tabs-menu {
    display: none;
}

dl dt {
    display: none;
}

dl dd {
    text-align: left;
    padding: 0 0 10px;
    display: block;
    float: none;
}

.aui-group .item-val {
    color: #dadada;
}

.aui-group h2, .aui-group h3, .aui-group h3.employee-title ~ .subtle-text, .aui-group.employee-position .aui-item > div, .aui-tabs.horizontal-tabs>.tabs-menu~.tabs-pane {
    padding: 10px;
}
.aui-group.employee-position .aui-item > div:before {
    opacity: 0.5;
    padding-right: 10px;
    display: inline;
}
.aui-group h2 {
    background-color: #72282e;
    color: white;
}

.aui-group h3.employee-title {
    background-color: #754733;
}

.aui-group h3.employee-title + .subtle-text {
    background-color: #3c4b32;
}

.aui-group h3.employee-title + .subtle-text + .subtle-text {
    background-color: #39504b;
}

.aui-group.employee-position .aui-item > div:nth-child(1) {
    background-color: #374576;
}
.aui-group.employee-position .aui-item > div:nth-child(1):before {
    content: "Employee #"
}

.aui-group.employee-position .aui-item > div:nth-child(2) {
    background-color: #2b2471;
    border-radius: 0;
    padding-right: 55%;
}
.aui-group.employee-position .aui-item > div:nth-child(2):before {
    content: "Position"
}
.aui-group.employee-position .aui-item > div:nth-child(3) {
    background-color: #4d0b72;
}
.aui-group.employee-position .aui-item > div:nth-child(3):before {
    content: "Time at Atlassian";
}

.aui-group.employee-position .aui-item > div:nth-child(4) {
    background-color: #72066c;
}
.aui-group.employee-position .aui-item > div:nth-child(4):before {
    content: "Start date"
}

div.aui-tabs.horizontal-tabs {
    background-color: #6f0a3d;
    margin: 0;
    flex-grow: 1;
}
html body #footer {
    padding-bottom: 60px;
}
html body #footer-logo {
    background-color: transparent;
}

.aui-page-panel.employee-page,
.aui-page-panel-inner {
    margin-right: auto;
}

@media (max-width: 650px) {
    #content > header.aui-page-header {
        transform: skew(10deg);
        width: 265px;
    }
    header.aui-page-header .aui-page-header-inner {
        transform: skew(-10deg);
    }
}
@media (max-width: 490px) {
    #content > header.aui-page-header {
        right: -100%;
    }
}