span[data-emoji-short-name] span {
  min-width: 20px;
  min-height: 20px;
  position: relative;
}

span[data-emoji-short-name]:hover img {
  position: absolute;
  width: 64px;
  height: 64px;
  z-index: 9;
  background: white;
  padding: 5px;
  outline: 2px solid #eee;
}
