* {
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
    font-size: 1em;
    line-height: 1.6;
}

html, body {
    margin: 0;
    padding: 0;
    color: #000000;
    background: #f8f1f3;
    min-height: 100%;
}

a {
    color: magenta;
}

.hero a {
    color: pink;
}

.hero {
    background: #ea0081;
    color: white;
    padding: 50px 15px;
}

button {
    cursor: pointer;
}
button.dropdown-arrow {
    position: relative;
}
button.dropdown-arrow:after {
    content: "";
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 10px;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 13px solid black;
}

.toolbar {
    background: #000000;
    padding: 8px;
}

.tool-inner {
    width: 600px;
    margin: auto;
    max-width: 100%;
    display: flex;
}

.tool-inner > .search {
    position: relative;
    text-align: left;
    width: 50%;
}

.tool-inner > .search:hover > button {
    opacity: 1;
}

.tool-inner > .search > button {
    opacity: 0;
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 50%;
    line-height: 1;
    font-size: 20px;
    display: block;
    height: 25px;
    width: 25px;
    border: 0;
    background-color: #eeeeee;
}

.tool-inner > .search > button:focus {
    outline: 0;
    box-shadow: 0 0 2px 2px gray;
}

.tool-inner > .search > button:hover {
    background-color: #cccccc;
}

.tool-inner > .search > input {
    padding: 5px 45px;
    height: 38px;
    width: 100%;
    border: 0;
}

.tool-inner > .search:before, .tool-inner > .search:after {
    position: absolute;
    content: "";
    display: block;
    border: 2px solid black;
}

.tool-inner > .search:before {
    left: 8px;
    top: 7px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
}

.tool-inner > .search:after {
    top: 23px;
    left: 20px;
    height: 10px;
    width: 0;
    transform-origin: 0 0;
    transform: rotate(-45deg);
    border-radius: 4px;
}

.tool-inner > .categories {
    z-index: 999;
    height: 38px;
    width: 50%;
    padding: 1px 0;
    margin: 0 10px 0 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.tool-inner > .categories:hover {
    overflow: visible;
}

.tool-inner > .categories > input:checked + label {
    order: 0;
}

.tool-inner > .categories:hover > input:checked + label {
    background-color: #dddddd;
    order: 1;
}

.tool-inner > .categories > label:before {
    content: "";
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    left: 8px;
    top: 9px;
    border: 2px solid #d1d1d1;
    border-radius: 50%;
}

.tool-inner > .categories > input:checked + label:after {
    content: "";
    display: block;
    position: absolute;
    width: 6px;
    height: 15px;
    left: 17px;
    top: 5px;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    transform: rotate(45deg);
}

.tool-inner > .categories > label:nth-child(4n ) {
    background: #ececec;
}


.tool-inner > .categories > input {
    position: absolute;
    order: 8;
    z-index: 8;
    opacity: 0;
    visibility: hidden;
}

.tool-inner > .categories > label {
    
    background: #ffffff;
    cursor: pointer;
    display: block;
    min-height: 38px;
    padding: 5px 20px 5px 40px;
    z-index: 1000;
    text-align: left;
    position: relative;
    order: 1;
    z-index: 2;
}

.tool-inner > .categories > label:hover {
    background-color: #eeeeee;
}

.tool-inner > .categories > input:checked + label {
}

h1 {
    font-size: 2.5em;
    margin: 0;
}

h2 {
    font-size: 1.2em;
    padding: 0 0 5px;
    margin: 0;
}

p {
    margin: 10px 0;
}

body {
    margin: auto;
    text-align: center;
}

.main {
    width: 1400px;
    max-width: 100%;
    margin: auto;
    padding: 40px 0;
}

#textinput {
    display: block;
    text-align: left;
    min-height: 90px;
    width: 450px;
    max-width: 100%;
    border: 3px solid;
    border-radius: 5px;
    outline: 0;
    margin: 20px auto 0;
    font-size: 1.2em;
    padding: 20px;
    resize: vertical;
}

#examples {
    display: flex;
    padding: 0 0 150px;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-around;
}

.font-example {
    background-color: #ffffff;
    margin: 0 1% 4%;
    min-width: 379px;
    width: 31%;
    max-width: 430px;
    text-align: left;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.18);
}



@media all and (max-width: 1000px) {
    .font-example {
        width: 48%;
    }
}

@media all and (max-width: 700px) {
    .font-example {
        width: 98%;
    }
}

.font-example > .no-overflow {
    position: relative;
    overflow: hidden;
    height: 150px;
}

.font-example > .no-overflow:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: linear-gradient(to top, white 2px, transparent 20px, transparent);
}

.font-example > .no-overflow > textarea {
    height: 20px;
    top: -20px;
    left: 100%;
    position: absolute;
}

.font-example .header {
    padding: 10px 0;
    text-align: left;
    margin: 0 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #8c8c8c82;
}

.font-example > .header > button {
    background: #f10487;
    font-family: monospace;
    color: white;
    padding: 3px 6px;
    height: 34px;
    border: 0;
    justify-self: flex-end;
    border-radius: 5px;
}

.font-example > .header > button:hover {
    background-color: hotpink;
}

.font-example > .header > label {
    font-weight: bold;
    line-height: 1.2;
    display: inline-block;
    padding: 5px 10px;
}

.font-example > .header > .select-dropdown {
    flex-grow: 1;
    height: 36px;
    z-index: 99;
    margin-right: 8px;
    display: flex;
    justify-self: flex-start;
    flex-direction: column;
    overflow: hidden;
}

.font-example > .header > .select-dropdown:hover {
    overflow: visible;
}

.font-example > .header > .select-dropdown > button {
    background-color: #f5f7f8;
    border: 1px solid #ccc;
    height: 40px;
    min-height: 36px;
    line-height: 2;
    display: block;
    font-weight: bold;
    text-align: left;
    margin: 0;
    padding: 0 0 0 10px;
    vertical-align: top;
    order: 1;
    z-index: 100;
}

.font-example > .header > .select-dropdown > button:hover {
    background-color: #cccccc;
}

.font-example > .header > .select-dropdown img {
    width: 18px;
    height: 18px;
    margin: 0;
    pointer-events: none;
    vertical-align: middle;
}

.font-example > .no-overflow > .images {
    padding: 15px 10px;
    line-height: 0.1;
    content-visibility: auto;
}

.font-example > .no-overflow > .images > img {
    width: 32px;
    height: 32px;
    border: 0;
    outline: 0;
    display: inline-block;
    vertical-align: baseline;
    opacity: 1;
}

.font-example img[data-lz] {
    opacity: 0;
}


.switcher {
    text-align: left;
    padding: 10px 5px 0 10px;
    background: #b10262;
    overflow: hidden;
    min-height: 41px;
}
.switcher a {
    display: inline-block;
    padding: 3px 10px;
    background: white;
    font-weight: bold;
    color: #000000;
    border-radius: 5px 5px 0 0;
    text-decoration: none;
    box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.27);
}
.switcher a.active {
    background: #ea0081;
    color: white;

}


@media (prefers-color-scheme: dark) {

    body {
        background-color: #3e3b3c;
    }
    .font-example {
        background-color: #222;
        color: #fff;
    }

    .font-example > .no-overflow:after {
        background-image: linear-gradient(to top, #222 2px, transparent 20px, transparent);
    }

    .font-example > .header > .select-dropdown > button {
        background-color: #373737;
        border: 1px solid #000;
        color: white;
    }

    .font-example > .header > .select-dropdown > button:hover {
        background-color: #000;
    }
}