* {
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
    font-size: 1em;
    line-height: 1.6;
}

p {
    margin: 10px 0;
}

a, a:visited {
    color: #e0007b;
}
a:hover {
    color: maroon;
}

html, body {
    margin: 0;
    color: #000000;
    background: #f9e6ed;
    text-align: center;
    height: 100%;
    min-height: 100%;
}

body {
    display: flex;
    height: 100%;
    padding: 0 0 30px;
    justify-content: space-between;
    flex-direction: column;
}

#backerimage {
    position: absolute;
    opacity: 0.5;
    filter: blur(9px);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.page-header {
    padding: 50px 0 0;
    position: relative;
    flex-grow: 1;
}

h1 {
    font-size: 2.5rem;
    margin: 0;
}

button, input {
    cursor: pointer;
}

textarea {
    height: 10px;
    width: 10px;
    position: absolute;
    left: -100px;
    top: -100px;
}

#elementsContainer {
    position: relative;
    /* width: 700px; */
    margin: auto;
    overflow: hidden;
    display: none;
}

#elementsContainer button {
    display: none;
    z-index: 30;
    appearance: none;
    -webkit-appearance: none;
    border: 0;
    font-weight: bold;
    padding: 7px 20px;
    background-color: #1a0112;
    box-shadow: 2px 2px 5px -2px black;
    color: white;
    border-radius: 2px;
}

#elementsContainer button:hover {
    background-color: magenta;
}

#elementsContainer.filled {
    display: block;
}

#elementsContainer.filled button {
    display: inline-block;
}

#imgPreviewArea {
    line-height: 0;
    position: relative;
    clear: both;
    margin-top: 40px;
}

#imgPreviewArea br {
    display: block;
    height: 0;
}

#imgPreviewArea img {
    width: 20px;
    background: white;
    display: inline-block;
    margin: 0;
    line-height: 0;
    padding: 0;
}

#imgPreviewArea img[src="images/spaces.png"] {
    background: none;
}

.drop-zone {
    width: 450px;
    margin: auto;
}
.drop-zone #resizer {
    width: 4rem;
    text-align: center;
    border: 0;
    background: white;
    font-weight: bold;
    line-height: 3rem;
    height: 3rem;
    border-radius:  0;
    cursor: pointer;
}
.drop-zone #resizer:hover {
    background-color:  pink;
}
.drop-zone #resizer:focus {
    outline: 3px solid hotpink;
}

#file-drop {
    margin: 20px 0 25px;
    background-color: #ff008d;
    color: white;
    border: 3px dashed #0a0707;
    max-width: 100%;
    border-radius: 10px;
    position: relative;
}

div#file-drop:hover {
    background-color: #ff00b4;
}

div#file-drop:hover p:before {
    background-image: linear-gradient(-135deg, #ff00b4 20%, black 20%, black 27%, transparent 27%), linear-gradient(to right, black 2px, pink 2px), linear-gradient(to top, black 2px, #d4d4d4 2px), linear-gradient(to bottom, black 2px, transparent 2px), linear-gradient(to right, black 2px, transparent 2px), linear-gradient(to left, black 2px, transparent 2px), linear-gradient(to top, black 2px, white 2px);
}

div#file-drop p {
    vertical-align: middle;
    padding: 27px 10px;
    font-weight: bold;
    font-size: 1.32rem;
    pointer-events: none;
}


div#file-drop p:before {
    content: "";
    vertical-align: middle;
    display: inline-block;
    width: 18px;
    height: 25px;
    margin-right: 12px;
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 100% 100%, 55% 40%,55% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%;
    background-image: linear-gradient(-135deg, #ff008c 20%, black 20%, black 27%, transparent 27%), linear-gradient(to right, black 2px, pink 2px), linear-gradient(to top, black 2px, #d4d4d4 2px), linear-gradient(to bottom, black 2px, transparent 2px), linear-gradient(to right, black 2px, transparent 2px), linear-gradient(to left, black 2px, transparent 2px), linear-gradient(to top, black 2px, white 2px);
}

#file-drop input {
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 10;
}


.switcher {
    min-height: 41px;
    text-align: left;
    padding: 10px 5px 0 10px;
    background: #b10262;
    overflow: hidden;
    display: block;
}
.switcher a {
    display: inline-block;
    padding: 3px 10px;
    background: #ff008c;
    vertical-align: bottom;
    font-weight: bold;
    color: #ffffff;
    border-radius: 5px 5px 0 0;
    text-decoration: none;
    box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.27);
}
.switcher a.active {
    background: #f9e6ed;
    color: black;
}