
:root {

  --lipH: 31deg;
  --lipS: 46%;
  --lipL: 15%;

}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

html, body {
  text-align: center;
  min-height: 100%;
  font-size: 25px;
  font-family: "Itim", sans-serif;
}

html {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 0;
  align-items: center;
  background-color: #ca002d;
  background-image: radial-gradient(ellipse, #fd5ba3, transparent);
}
p {
  margin: 0;
}
h1 {
  font-family: "Parisienne", cursive;
  font-size: 69px;
  margin: 10px 0;
}
h2 {
  margin: 25px 0 4px;
  font-size: 26px;
  position: relative !important;
}
h5 {
  margin: auto;
  width: 100%;
  top: -38px;
  font-size: 26px;
}
h3 {
  margin: 0 0;
  font-size: 35px;
  position: relative !important;
  font-style: italic;
  animation-name: pulse;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
h4 {
  margin: 40px 0 0;
}

h6 {
  inset: auto 0 -90px 0;
  
}
a {
  color: #ffc8ff;
}

body {
  color: white;
  background-size: 100% 100%;
}

svg {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  margin: auto;
  z-index:-1;
}

.insection {
  position: relative;
  margin: 30px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  clip-path: url(#heart-path);
  width: 550px;
  text-align: center;
  height: 550px;
  transition: all 0.5s;
}

.insection svg path {
  transition: all 0.5s;
}
.insection:hover {
  transform: scale(1.06);
}
.insection:hover svg path {
  fill: maroon;
}

.insection * {
  pointer-events: none;
}

#generated-content {
  width: 100%;
  height: 45%;
  position: absolute;
  top: 31%;
  text-align: center;
  left: 0;
  right: 0;
  margin: auto;
}

#generated-content * {
  position: absolute;
}

.face {
  background-color: hsl(var(--skinH) var(--skinS) var(--skinL));
  background-image: radial-gradient(circle at 50% 88%, rgb(255 255 255 / 20%), transparent 9%), radial-gradient(ellipse at 50% 17%, rgb(255 255 255 / 23%), transparent 27%), radial-gradient(ellipse at 83% 57%, rgb(255 255 255 / 23%), transparent 27%), radial-gradient(ellipse at 17% 57%, rgb(255 255 255 / 23%), transparent 27%), linear-gradient(0deg, rgb(0 0 0 / 25%), transparent 9%);
  width: var(--faceWidth);
  height: 72%;
  overflow: hidden;
  margin: auto;
  border-radius: var(--headRadius);
  inset: 0 0 auto 0;
  box-shadow: inset 0 -3px 16px 13px rgb(0 0 0 / 25%), inset 20px 15px 16px 3px rgb(0 0 0 / 11%), inset -20px 15px 16px 3px rgb(0 0 0 / 11%), inset 4px 1px 6px 0px rgb(0 0 0 / 30%), inset -4px -1px 6px 0px rgb(0 0 0 / 30%);
}
.shoulders {
  background-color: hsl(var(--eyeH) var(--eyeS) var(--eyeL));
  width: 30%;
  height: 15%;
  margin: auto;
  inset: auto  0 0 0;
  border-radius: 34% / 85% 85% 0 0;
  box-shadow: inset 17px 7px 10px -10px #0000007d, inset -17px 7px 10px -10px #0000007d;
}
.neck {
  background-color: hsl(var(--skinH) var(--skinS) var(--skinL));
  background-image: linear-gradient(90deg, #00000070, transparent 40% 60%, #00000070), linear-gradient(180deg, rgb(0 0 0 / 73%) 45%, transparent 59%);
  width: 10%;
  height: 40%;
  margin: auto;
  inset: 50% 0 0 0;
}
.eyes {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  top: var(--eyeY);
  height: var(--eyeHeight);
  color: #00000061;
}
.eye {
  background-color: white;
  height: 100%;
  width: var(--eyeWidth);
  position: relative !important;
  border-radius: var(--eyeShape);
  margin: auto;
  background-image: radial-gradient(circle at 62% 41%, white 10%, transparent 10%), radial-gradient(circle at 50% var(--pupilY), black 18%, hsla(var(--eyeH) var(--eyeS) var(--eyeL) / 50%) 18%, hsl(var(--eyeH) var(--eyeS) var(--eyeL)) 53% var(--pupilWidth), white var(--pupilWidth), transparent);
  box-shadow: 0 0 22px black, 0 -3px 5px 1px #00000078, 0 1px 7px -2px #00000078;
}

.eye.left {
  transform: rotate(var(--eyeAngle));
}
.eye.right {
  transform: rotate(calc(var(--eyeAngle) * -1));
}


.eye:before {
  content: "";
  position: absolute;
  top: -15px;
  width: 100%;
  height: 40%;
  margin: auto;
  border-radius: inherit;
  left: 0;
  right: 0;
  opacity: 0.5;
  border-top: var(--eyebrowWidth) solid hsl(var(--hairH) var(--hairS) var(--hairL));
}

.eye:after {
  content: "";
  border-radius: inherit;
  position: absolute;
  inset: 0;
  box-shadow: inset 0 2px 5px 1px black;
}


.nose1 {
  height: var(--noseHeight);
  width: var(--noseWidth);
  margin: auto;
  box-shadow: 0 6px 4px -4px black, 0 7px 5px -5px rgb(0 0 0 / 87%), inset 0 -10px 5px -5px rgb(0 0 0 / 32%);
  border-radius: 50% / 0 0 var(--noseCurve) var(--noseCurve);
  top: var(--noseY);
  left: 0;
  right: 0;
  margin: auto;
  background-image: radial-gradient(ellipse, #ffffff4a, transparent 50%), linear-gradient(180deg, transparent 15%, hsl(var(--skinH) var(--skinS) var(--skinL)) 25%);
}

.nose2 {
  height: calc(var(--noseHeight) / 2);
  width: var(--noseWidth);
  box-shadow: 0 -3px 2px -2px rgb(0 0 0 / 12%), 0 10px 5px -8px rgb(0 0 0 / 74%), 0 -8px 5px -6px rgb(0 0 0 / 59%), inset 0 9px 5px -5px rgb(0 0 0 / 31%);
  border-radius: var(--noseCurve) / 50% 50% 0 0;
  top: var(--noseY);
  left: 0;
  right: 0;
  margin: auto;
  background-color: hsl(var(--skinH) var(--skinS) var(--skinL));
  background-image: radial-gradient(ellipse at 50% 50%, #ffffff82, transparent 40%), radial-gradient(ellipse at 30% 90%, black 8%, transparent 10%), radial-gradient(ellipse at 70% 90%, black 5%, transparent 12%);
}

.nose3 {
  height: var(--noseHeight);
  width: var(--noseWidth);
  margin: auto;
  box-shadow: 0 3px 2px -2px black, 0 7px 5px -5px rgb(0 0 0 / 87%), inset 0 -12px 9px -9px rgb(0 0 0 / 41%);
  border-radius: var(--noseCurve) / 0 0 6px 10px;
  top: var(--noseY);
  left: 0;
  right: 0;
  margin: auto;
  background-image: radial-gradient(ellipse closest-side, rgb(255 255 255 / 21%), transparent 67%), radial-gradient(ellipse closest-side, rgb(255 255 255 / 15%), transparent 67%), linear-gradient(180deg, transparent 10%, hsl(var(--skinH) var(--skinS) var(--skinL)) 25%);
  background-size: 100% 50%, 50% 100%;
  background-position: center bottom, center top;
  background-repeat: no-repeat;
}

.philtrum {
  width: 5%;
  left: 0;
  right: 0;
  margin: auto;
  height: calc(var(--mouthY) - calc(var(--noseY) + var(--noseHeight)));
  top: calc(var(--noseY) + var(--noseHeight));
  border-radius: 50%;
  filter: blur(2px);
  border-left: 3px solid white;
  border-right: 3px solid white;
  opacity: 0.1;
}
.teeth:after,
.teeth:before {
  content: "";
  top: 50%;
  position: absolute;
  box-shadow: 0 0px 4px 2px #000000a3, 0 0px 10px 5px #000000a3;
}

.teeth:before {
  left: -4%;
}
.teeth:after {
  right: -6%;
}

.mouth1 {
  inset: var(--mouthY) 0 auto 0;
  margin: auto;
  width: var(--mouthWidth);
  height: var(--mouthHeight);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mouth2 {
  border-radius: var(--mouthRadius);
  inset: var(--mouthY) 0 auto 0;
  margin: auto;
  width: var(--mouthWidth);
  height: var(--mouthHeight);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(var(--lipH) var(--lipS) var(--lipL));
  box-shadow: inset 0 1px 4px #0000005c, inset 0 -4px 4px -3px black, 0 8px 5px -4px black;
  /* overflow: hidden; */
}


.mouth1 .teeth {
  width: 89%;
  position: relative !important;
}

.mouth2 .teeth {
  flex-grow: var(--lipBottomSize);
  width: 90%;
  border-radius: inherit;
  position: relative !important;
  background-color: white;
  background-image: linear-gradient(180deg, transparent 41%, black 55%, #00000045 70%), linear-gradient(90deg, rgb(0 0 0 / 78%), transparent 40% 60%, rgb(0 0 0 / 78%)), repeating-linear-gradient(90deg, transparent 0 4px, #0000003d 4px 5px);
  box-shadow: inset 0 4px 4px -2px black, 0 -3px 4px -2px black, 0 3px 4px -2px black;
}
.lip {
  position: relative !important;
}


.lip.top {
  width: var(--lipTopWidth);
  margin-bottom: -2px;
}

.mouth1 .lip.top {
  background-image: linear-gradient(90deg, rgb(0 0 0 / 25%), transparent 35% 65%, rgb(0 0 0 / 25%)), linear-gradient(180deg, transparent 35% 65%, rgb(0 0 0 / 25%));
  box-shadow: inset 0 2px 2px -1px rgb(0 0 0 / 15%);
  width: var(--lipTopWidth);
  background-color: hsl(var(--lipH) var(--lipS) var(--lipL));
  flex-grow: var(--lipTopSize);

  border-radius: 50% / 100% 100% 0 0;
  border-bottom: 1px solid black;
}

.mouth1 .lip.bottom {
  width: var(--lipBottomWidth);
  flex-grow: var(--lipBottomSize);
  background-image: linear-gradient(90deg, rgb(0 0 0 / 50%), transparent 35% 65%, rgb(0 0 0 / 50%)), linear-gradient(0deg, transparent 35% 65%, rgb(0 0 0 / 50%));
  background-color: hsl(var(--lipH) var(--lipS) var(--lipL));
  box-shadow: inset 0 -4px 3px -1px #00000047, 0 7px 4px -1px #0000005c;
  border-radius: 50% / 0 0 100% 100%;
  border-top: 1px solid black;
}

.mouth2 .lip.top {
  width: 100%;
  flex-grow: 1;
}
.mouth2 .lip.bottom {
  width: 100%;
  flex-grow: var(--lipTopSize);
}


.hair {
  inset: 0 0 auto 0;
  width: var(--hairWidth);
  height: var(--hairHeight);
  margin: auto;
  border-radius: var(--hairRadius);
  background-color: hsl(var(--hairH) var(--hairS) var(--hairL));
  background-image: radial-gradient(ellipse farthest-side at 50% 108%, #00000070 var(--faceWidth), transparent calc(var(--faceWidth) * 4)), repeating-radial-gradient(transparent 0 2px, #ffffff1f 2px, transparent 3px 5px, #00000038 6px);
  box-shadow: inset 0 -10px 30px 3px rgb(0 0 0 / 28%);
}

.bangs {
  inset: 0 0 auto 0;
  width: 100%;
  height: var(--bangHeight);
  margin: auto;
  border-radius: 50% / 0 0 50% 50%;
  background-color: hsl(var(--hairH) var(--hairS) var(--hairL));
  background-image: radial-gradient(ellipse at 50% 9%, transparent 28%, rgb(255 255 255 / 18%), transparent 59%);
  box-shadow: inset 0 -5px 5px -2px #0000003d, 0 5px 5px -2px #0000003d;
}