html, body {
    min-height: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    font-size: 16px;
    background-color: limegreen;
    background-image: linear-gradient(to right, #2fae00, #59cd32 5%, #7de657 90%, #34c400);
}

.top-section {
    padding: 50px 20px 30px;
    background-color: hotpink;
    background-image: linear-gradient(to right, #ff4ea7, #ff8bc5 5%, #fe5ead 55%, #ff66b2 90%, #ff0d87);
    box-shadow: inset 0 -4px 4px -3px #972e2e;
}

.bottom-section {
    padding: 36px 20px 30px;
    box-shadow: inset 0 5px 4px -3px green, inset 0 12px 4px -3px #cbffc566;
}

.max-width {
    max-width: 100%;
    width: 800px;
    margin: auto;
}

.title-holder {
    display: inline-block;
    background: black;
    box-shadow: 1px 1px 2px 1px;
    padding: 18px;
    border-radius: 8px;
    margin: 0 0 25px;
}

p, label.p {
    margin: 0 0 5px;
    /* text-align: left; */
    display: block;
}

* {
    font-family: sans-serif;
    line-height: 1.5;
    box-sizing: border-box;
}

h1 {
    font-size: 27px;
    text-align: center;
    letter-spacing: 4px;
    margin: 0;
    text-transform: uppercase;
    transform: scale(1, 1.75);
    font-weight: normal;
}

h1 span.green {
    color: limegreen;
    position: relative;
    top: -3px;
    left: 8px;
}

h1 span.green span.mag {
    color: gray;
    font-size: 16.4px;
    position: absolute;
    bottom: -12px;
    left: 0;
    letter-spacing: 9px;
    transform: scale(1, 0.3);
    text-align: right;
}

h1 span.green span.mag span.cms {
    position: absolute;
    right: 4px;
    bottom: -10px;
    font-size: 10px;
    letter-spacing: 5px;
}

h1 span.pink {
    color: hotpink;
    position: relative;
    top: 4px;
    left: -8px;
}

.invis {
    display: none;
}

.labels {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    flex-direction: column;
}

.labels .label {
    margin: 0 0 8px
}

.labels label {
    background: #d7ead1;
    color: black;
}

.labels.top label[for="author"] {
    border-right: 15px solid limegreen;
}

.labels.top label[for="proof"] {
    border-right: 15px solid red;
}

.labels.top label[for="truth"] {
    border-right: 15px solid black;
}

.labels.top label[for="local"] {
    border-right: 15px solid magenta;
}

.labels.top label[for="production"] {
    border-right: 15px solid rgb(0, 81, 255);
}

.labels label:after, .labels label:before {
    content: "";
    position: absolute;
    border-radius: 50%;
    top: 0;
    left: 10px;
    bottom: 0;
    margin: auto;
    width: 15px;
    height: 15px;
    border: 2px solid rgba(0, 0, 0, 0.16);
}

.labels label:before {
}

.labels input:checked+label {
    background: #ff8bc5;
    color: black;
    font-weight: bold;
}

.labels input:checked+label:after {
    background: black;
}

.labels label:hover {
    background: hotpink;
}

.label {
    position: relative;
}

.label input {
    position: absolute;
    height: 10px;
    top: 0;
    bottom: 0;
    left: 12px;
    margin: auto;
    opacity: 0;
}

textarea {
    width: 100%;
    min-height: 200px;
    text-align: left;
    padding: 15px;
    border: 0;
    margin: 0 auto 30px;
    border-radius: 10px;
    box-shadow: inset 0px 0px 3px 2px #f9419d;
    display: block;
    font-size: 16px;
    resize: vertical;
}

textarea:focus {
    box-shadow: inset 0px 0px 3px 2px #f9419d, 0px 0px 3px 2px #f9419d;
    outline: 0;
}

button {
    font-size: 16px;
    display: inline-block;
    font-weight: bold;
    border: 0;
    border-radius: 5px;
    margin: 0 auto 30px;
    cursor: pointer;
}

button, select, .top-bar label {
    box-shadow: 1px 1px 5px -2px black, inset -1px -1px 5px -3px black, inset 1px 1px 3px -1px #fff;
}

button#converter {
    padding: 10px 40px;
    background: #00ffa1;
}

label {
    cursor: pointer;
    display: block;
    margin: 0;
    border-radius: 4px;
    padding: 8px 15px 8px 34px;
    vertical-align: middle;
    line-height: 1;
}

.labels.bottom {
    display: flex;
    flex-direction: column;
}

button#converter:hover {
    background: green;
}

button#converter:active {
    background: teal;
}

.pasting-ground {
    background: black;
    min-height: 150px;
    border-radius: 10px;
    text-align: right;
    overflow: hidden;
    display: flex;
    position: relative;
    box-shadow: 0px -2px 4px 1px #02a502, 0px 3px 3px 1px #b2fd987a;
}

#pasted {
    flex-grow: 1;
    padding: 45px 25px 35px;
}

#copies-area {
    display: flex;
    /* flex-wrap: wrap; */
    position: absolute;
    right: 10px;
    justify-content: flex-end;
    top: 10px;
    width: 73%;
}

.pasting-ground button {
    padding: 4px 10px;
    font-weight: normal;
    margin: 0;
    font-size: 14px;
    line-height: 1;
}

.pasting-ground button#copytext {
    background: #f6c2dd;
    /* flex-basis: 100%; */
    margin: 0 8px 0 0;
}

.pasting-ground button#copytext:hover {
    background: #cb5f02;
    color: white;
}

.pasting-ground button#copylinks {
    border-radius: 5px 0 0 5px;
    /* flex-grow: 1; */
}

.pasting-ground #open-all-links {
    margin-right: auto;
    background-color: #ca007c;
    border-radius: 5px;
    color: white;
}

.pasting-ground #open-all-links:hover {
    background-color: #8e005d;
}

.pasting-ground button#copylinks, .pasting-ground select {
    background-color: #d7ffdf;
}

.pasting-ground button#copylinks:hover, .pasting-ground select:hover {
    background: #8451bd;
    color: white;
}

.pasting-ground select {
    appearance: none;
    -webkit-appearance: none;
    padding: 4px 10px;
    border-radius: 0 5px 5px 0;
    font-size: 14px;
    border: 0;
    margin-left: 1px;
    cursor: pointer;
    line-height: 1;
}

.pasting-ground button.copy-success {
    font-size: 0;
    color: black;
}

.pasting-ground button.copy-success:before {
    content: "Copied!";
    font-size: 14px;
    font-weight: bold;
}

.pasting-ground a {
    color: #bdffc2;
    display: block;
    padding: 5px;
    text-align: left;
}

.pasting-ground .top-bar {
    display: flex;
    color: white;
    padding: 15px;
    background: #343f30;
    border-right: 1px solid #4c4c4c;
    align-items: stretch;
    align-content: stretch;
    /* justify-content: space-between; */
    flex-direction: column;
    flex-basis: 23%;
    min-width: 23%;
    text-align: left;
}

.pasting-ground .top-bar > div + div {
    padding-top: 30px;
    margin-top: 30px;
    border-top: 1px solid #737373;
}

.pasting-ground textarea {
    position: absolute;
    right: 120%;
    width: auto;
    opacity: 0;
}

.pasting-ground a:hover {
    background: #111111;
}
