@keyframes stab {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(30deg); }
}

@keyframes spurt {
    0% { transform: translateX(0) translateY(0); opacity: 0; }
    20%, 50% { opacity: 1; }
    100% { transform: translateX(-300px) translateY(-300px) rotate(-45deg); opacity: 0; }
}
@keyframes spurt2 {
    0% { transform: translateX(0) translateY(0); opacity: 0; }
    20%, 50% { opacity: 1; }
    100% { transform: translateX(-200px) translateY(-350px) rotate(-25deg); opacity: 0; }
}

html, body {
    min-height: 1000px;
}

body {
    background-image: linear-gradient(135deg, lightpink, bisque, lightyellow, lightblue, lavender);
    background-size: 100% auto;
    padding: 40px 20px;
    text-align: center;
    font-family: 'Arial', sans-serif;
}

body * {
    box-sizing: border-box;
}

h1 {
    background: -webkit-linear-gradient(90deg, magenta, cyan);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 6px 6px 0 rgba(0,0,0,0.15);
    font-size: 1.5rem;
    letter-spacing: 0.6rem;
    margin: 0 0 50px;
    font-variant: small-caps;
}

.character {
    width: 500px;
    height: 500px;
    margin: auto;
    position: relative;
}

.head {
    background-color: #ffcc4b;
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 50% / 55% 55% 5% 9%;
    box-shadow: 3px 3px 90px rgba(35, 2, 2, 0.64);
}

.head * {
    position: absolute;
}

.outline-feature {
    border-radius: 50%;
    border-width: 33px;
    border-style: solid;
    border-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #75441a;
    color: #75441a;
}

.outline-feature:before, .outline-feature:after {
    content: "";
    width: 30px;
    height: 30px;
    background-color: currentColor;
    display: block;
    border-radius: 50%;
    position: absolute;
}

.outline-feature:before {
    left: -9%;
}

.outline-feature:after {
    right: -9%;
}

.eyebrow {
    width: 44%;
    height: 22%;
    top: 18%;
}

.eyebrow:before, .eyebrow:after {
    bottom: -37%;
}

.eyebrow.left {
    left: 10%;
    transform: rotate(30deg);
}

.eyebrow.right {
    right: 10%;
    transform: rotate(-30deg);
}

.eye {
    top: 31%;
    height: 25%;
    width: 42%;
}

.eye:before, .eye:after {
    bottom: -24%;
}

.eye.left {
    left: 8%;
    transform: rotate(3deg);
}

.eye.right {
    left: auto;
    right: 8%;
    transform: rotate(-3deg);
}

.mouth {
    width: 21%;
    height: 12%;
    bottom: 23%;
    border-width: 28px;
    border-top-width: 0;
    border-right-color: currentColor;
    border-left-color: currentColor;
    border-radius: 0 0 50% 50% / 8% 8% 90% 90%;
}

.mouth:before, .mouth:after {
    bottom: 42%;
}

.mouth:before {
    left: -60%;
}

.mouth:after {
    right: -60%;
}

.mouth.left {
    right: 49%;
    transform: rotate(20deg);
}

.mouth.right {
    left: 49%;
    transform: rotate(-20deg);
}

.hand {
    position: absolute;
    width: 30%;
    height: 30%;
    background: #ffe49e;
    border-radius: 50%;
    top: 50%;
    left: -14%;
    z-index: 2;
}

.knife-handle {
    background: black;
    width: 55%;
    height: 12%;
    border-radius: 15%;
    position: absolute;
    left: -20%;
    top: 60%;
    z-index: 1;
    transform: rotate(45deg);
}

.blade {
    background: lightgray;
    width: 55%;
    height: 20%;
    border-radius: 0 50% 72% 0 / 0 22% 90% 0;
    position: absolute;
    left: 10%;
    top: 90%;
    z-index: 1;
    border: 7px solid gray;
    background-image: linear-gradient(to right, gray 10%, #eee, #a5a4a4);
    transform: rotate(45deg);
    overflow: hidden;
}

.blade-inner {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background-color: lightgray;
    background-image: linear-gradient(to right, #eee, gray);
    border: 7px solid #959595;
    top: -37%;
    left: -9%;
    position: absolute;
}

.animation-layer {
    width: 100%;
    height: 100%;
    position: absolute;
    left: -10%;
    top: 0;
    animation: stab alternate-reverse 0.2s infinite;
    transform-origin: 0 100%;
    z-index: 5;
}

.text {
    color: #06e106;
    font-size: 20px;
    padding: 20px;
    position: absolute;
    bottom: -45%;
    left: 20%;
    opacity: 0;
    font-size: 2rem;
    animation-name: spurt;
    animation-delay:  0.3s;
    animation-direction: normal;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}
.text.t1 {
    animation-delay: 0.1s;
}
.text.t2 {
    animation-delay: 1s;
    animation-name: spurt2;
    color: green;
}
.text.t3 {
    animation-delay: 0.5s;
}
.text.t4 {
    animation-name: spurt2;
    animation-delay: 0.5s;
    color: green;
    z-index: 6;
}
.text.t5 {
    animation-name: spurt2;
    color: limegreen;
    left: 12%;
}

.cheek {
    background: #ff697f;
    width: 28%;
    height: 28%;
    border-radius: 50%;
    top: 48%;
}
.cheek.left {
    left: 2%;
}
.cheek.right {
    right: 2%;
}