@keyframes steammotion {
  0% {
    transform: scale(1) translate(-25px, 0);
  }

  50% {
    transform: scale(1.5) translate(0, 0);
  }

  100% {
    transform: scale(1) translate(25px, 0);
  }
}

@keyframes solarmotion {
  0% {
    transform: rotateY(0deg) rotateX(0deg);
    background-position: 0 -150%;
  }

  50% {
    transform: rotateY(40deg) rotateX(40deg);
    background-position: 0 30%;
  }

  100% {
    transform: rotateX(40deg) rotateX(0deg);
    background-position: 0 50%;
  }
}

@keyframes foambubble {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.5);
  }
}

@keyframes wavemotion {
  0% {
    transform: scaleY(1);
  }

  100% {
    transform: scaleY(1.2);
  }
}

@keyframes windrotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

html,
body {
  background: white;
  padding: 0;
  margin: 0;
}

.background {
  width: 100%;
  inset: 0;
  min-height: 715px;
  position: absolute;
  background: #a2e9ff;
  overflow: hidden;
}

.contain {
  max-width: 100%;
  width: 1310px;
  height: 715px;
  margin: auto;
  inset: auto 0 0 0;
}

.background *,
.background *:before,
.background *:after {
  position: absolute;
}

.sun {
  width: 120px;
  height: 120px;
  bottom: 510px;
  right: 20%;
  box-shadow: 0 0 150px 100px #fffdc1;
  background: #ffe56b;
  border-radius: 50%;
}

.rainbow {
  opacity: 0.4;
  width: 1490px;
  height: 1304px;
  right: 15%;
  bottom: -671px;
  mix-blend-mode: overlay;
  background-image: radial-gradient(ellipse closest-side, transparent 70%, purple 70% 75%, blue 75% 80%, green 80% 85%, yellow 85% 90%, orange 90% 95%, red 95% 100%, transparent 100%);
}

.ocean {
  bottom: 0;
  left: -50vw;
  margin: auto;
  width: 107vw;
  height: 150px;
  background: #87e3ff;
}

.foam {
  width: 29%;
  height: 20%;
  left: 16%;
  top: 50%;
}

.foam div {
  background: #afedff;
  aspect-ratio: 1;
  border-radius: 50%;
  animation-name: foambubble;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-direction: alternate-reverse;
}

.foam div:nth-child(2n) {
  animation-delay: -2s;
}

.foam div:nth-child(3n) {
  animation-delay: -1.5s;
}

.foam div:nth-child(1) {
  width: 8%;
  top: 33%;
  left: 0;
}

.foam div:nth-child(2) {
  width: 13%;
  top: 10%;
  left: 6%;
}

.foam div:nth-child(3) {
  width: 10%;
  top: 48%;
  left: 5%;
}

.foam div:nth-child(4) {
  width: 7%;
  top: 66%;
  left: 14%;
}

.foam div:nth-child(5) {
  width: 12%;
  top: 19%;
  left: 16%;
}

.foam div:nth-child(6) {
  width: 8%;
  top: 33%;
  left: 19%;
}

.foam div:nth-child(7) {
  width: 13%;
  top: 10%;
  left: 22%;
}

.foam div:nth-child(8) {
  width: 10%;
  top: 48%;
  left: 24%;
}

.foam div:nth-child(9) {
  width: 7%;
  top: 66%;
  left: 33%;
}

.foam div:nth-child(10) {
  width: 12%;
  top: 19%;
  left: 31%;
}

.foam div:nth-child(11) {
  width: 8%;
  top: 33%;
  left: 34%;
}

.foam div:nth-child(12) {
  width: 13%;
  top: 10%;
  left: 42%;
}

.foam div:nth-child(13) {
  width: 10%;
  top: 48%;
  left: 39%;
}

.foam div:nth-child(14) {
  width: 7%;
  top: 59%;
  left: 48%;
}

.foam div:nth-child(15) {
  width: 12%;
  top: 19%;
  left: 51%;
}

.foam div:nth-child(16) {
  width: 8%;
  top: 33%;
  left: 54%;
}

.foam div:nth-child(17) {
  width: 13%;
  top: 10%;
  left: 57%;
}

.foam div:nth-child(18) {
  width: 10%;
  top: 48%;
  left: 61%;
}

.foam div:nth-child(19) {
  width: 7%;
  top: 66%;
  left: 69%;
}

.foam div:nth-child(20) {
  width: 12%;
  top: 19%;
  left: 68%;
}

.foam div:nth-child(21) {
  width: 8%;
  top: 50%;
  left: 75%;
}

.foam div:nth-child(22) {
  width: 13%;
  top: 10%;
  left: 78%;
}

.foam div:nth-child(23) {
  width: 10%;
  top: 48%;
  left: 81%;
}

.foam div:nth-child(24) {
  width: 7%;
  top: 59%;
  left: 84%;
}

.foam div:nth-child(25) {
  width: 12%;
  top: 19%;
  left: 86%;
}

.foam div:nth-child(26) {
  width: 8%;
  top: 33%;
  left: 87%;
}

.foam div:nth-child(27) {
  width: 13%;
  top: 10%;
  left: 90%;
}

.foam div:nth-child(28) {
  width: 10%;
  top: 48%;
  left: 93%;
}

.foam div:nth-child(29) {
  width: 7%;
  top: 66%;
  left: 95%;
}

.foam div:nth-child(30) {
  width: 12%;
  top: 19%;
  left: 97%;
}





.back-hills {
  height: 392px;
  width: 100%;
  bottom: 0;
}

.front-hills {
  height: 260px;
  width: 100%;
  bottom: 0;
}

.hill-back {
  background-color: #57b644;
  width: 53%;
  height: 100%;
  border-radius: 90% 0 0 0 / 90% 0 0 0;
  right: 0;
}

.waterfall-hill .extender {
  width: calc(50vw - 500px);
  height: 100%;
  background: inherit;
  right: 100%;
  bottom: 0;
  border-radius: 101vh 0 0 0 / 100px 0 0 0;
}

.hill-back .extender {
  width: calc(50vw - 500px);
  height: 100%;
  background: inherit;
  left: 100%;
  border-radius: 0 90vh 0 0 / 0 100px 0 0;
}

.hill-mid {
  background-color: #6dd258;
  width: 82%;
  height: 60%;
  border-radius: 50% 50% 0 0 / 100% 100% 0 0;
  right: 0%;
  bottom: -20%;
}

.hill-front {
  background-color: #94f380;
  width: 94%;
  height: 44%;
  border-radius: 50% 50% 0 0 / 100% 100% 0 0;
  right: 33%;
  bottom: -19%;
}

.column {
  width: 480px;
  max-width: 100%;
  padding: 30px;
  margin: auto;
  min-height: 400px;
  inset: 0;
  background: white;
  box-shadow: 0 2px 10px -2px #06172e4d;
  position: relative;
  /* display: none; */
}

.column img {
  width: 100%;
  height: auto;
}

.container {
  position: relative;
  padding: 50px 0;
}

.waterfall-hill {
  width: 19%;
  top: 8%;
  border-radius: 0 99% 0 0;
  height: 216px;
  background: #6ed15a;
}

.waterfall {
  border-radius: 0 61% 0 0 / 0 99% 0 0;
  width: 38%;
  height: 62%;
  left: 4%;
  background: #88e3ff;
  display: flex;
  flex-direction: row-reverse;
  overflow: hidden;
}

.wave {
  width: 82%;
  height: 100%;
  border-radius: inherit;
  top: 5%;
  right: 9%;
  margin-left: -75%;
  background: #88e3ff;
  position: relative;
  animation-name: wavemotion;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-direction: alternate-reverse;
}

.wave:nth-child(odd) {
  background: #74deff;
  animation-delay: -0.5s;
}

.wind {
  width: 138px;
  height: 250px;
}

.wind .base {
  left: 0;
  right: 0;
  margin: auto;
  width: 10%;
  height: 71%;
  bottom: 0;
  background: #a8bcd0;
  border-radius: 50% 50% 0 0 / 90% 90% 0 0;
}

.wind .fins {
  width: 100%;
  aspect-ratio: 1;
  animation-name: windrotate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: inherit;
  animation-duration: inherit;
}

.wind .mid {
  border-radius: 50%;
  width: 6%;
  height: 6%;
  background: #e2ecf9;
  inset: 0;
  margin: auto;
}

.wind .fin {
  width: 8%;
  height: 52%;
  left: 50%;
  transform-origin: 50% 0;
  margin-left: -4%;
  top: 50%;
  background: #bdcee0;
  border-radius: 50%;
}

.wind .fin1 {
  transform: rotate(50deg);
}

.wind .fin2 {
  transform: rotate(-50deg);
}

.wind .fin3 {
  transform: rotate(-180deg);
}

.wind2 {
  bottom: 85%;
  right: 11%;
  animation-duration: 10s;
}

.wind1 {
  bottom: 65%;
  right: 23%;
  animation-delay: -0.25s;
  animation-duration: 15s;
}

.dam {
  background: #b5c9df;
  height: 30%;
  width: 20%;
  top: -20%;
  border-radius: 0 20px 0 0;
}

.dam .extender:before {
  content: "";
  width: 100%;
  right: -10%;
  height: 10%;
  bottom: 100%;
  background-image: repeating-linear-gradient(-90deg, transparent 0 30px, #b6c8df 30px 100px);
}

.dam .extender {
  top: 0;
  right: 100%;
  width: 100vw;
  height: 180%;
  background: inherit;
}

.nuclear {
  width: 111px;
  right: 2%;
  height: 300px;
  bottom: 203px;
}

.nuclear .base {
  width: 100%;
  height: 34%;
  border-radius: 20px 20px 0 0;
  bottom: 0;
  background: #889dae;
}

.nuclear .mid {
  width: 70%;
  height: 67%;
  inset: 0;
  margin: 0 auto;
  overflow: hidden;
}

.nuclear .mid:before,
.nuclear .mid:after {
  content: "";
  height: 100%;
  width: 50%;
  border-radius: 50%;
  box-shadow: 0 0 0 42px #94a8b6;
}

.nuclear .mid:before {
  left: -30%;
}

.nuclear .mid:after {
  right: -30%;
}

.solar {
  width: 60px;
  height: 187px;
}

.solar1 {
  left: 33%;
  top: -100%;
  animation-delay: -3s;
}

.solar2 {
  left: 49%;
  top: -65%;
}

.solar .base {
  width: 12%;
  height: 50%;
  bottom: 0;
  inset: auto 0 0;
  margin: auto;
  background: #b1b9d1;
}

.solar .panel {
  width: 100%;
  height: 67%;
  inset: 0 0 auto;
  margin: auto;
  color: #bdc3d1;
  background-color: #cad7e2;
  outline: 6px solid;
  animation-delay: inherit;
  animation-name: solarmotion;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: linear;
  perspective: 10px;
  background-image: linear-gradient(to bottom, transparent 30%, hsl(0deg 0% 100% / 50%) 30% 70%, transparent 70%);
  background-size: 100% 50%;
  background-repeat: no-repeat;
}

.solar .panel:before {
  content: "";
  inset: 0;
  background-image: linear-gradient(0deg, transparent 28%, currentColor 28% 33%, transparent 33% 66%, currentColor 66% 72%, transparent 72%), linear-gradient(90deg, transparent 46%, currentColor 46% 54%, transparent 54%);

}

.bush3 {
  width: 30%;
  height: 30%;
  transform: rotate(-10deg);
  left: -32%;
  top: 8%;
  color: #6bcb54;
}

.bush4 {
  width: 30%;
  height: 30%;
  transform: rotate(10deg);
  right: 44%;
  top: 27%;
  color: #42b828;
}

.bush5 {
  width: 50%;
  height: 30%;
  transform: rotate(16deg);
  right: 2%;
  top: 49%;
  color: #20a903;
}

.bush div {
  border-radius: 50%;
  width: 22%;
  aspect-ratio: 1;
  background-color: currentColor;
}

.bush div:nth-child(1) {
  left: 0;
  top: 34%;
}

.bush div:nth-child(2) {
  left: 15%;
  top: 0%;
}

.bush div:nth-child(3) {
  left: 28%;
  top: 8%;
}

.bush div:nth-child(4) {
  left: 44%;
  top: 0%;
}

.bush div:nth-child(5) {
  left: 60%;
  top: 8%;
}

.bush div:nth-child(6) {
  left: 78%;
  top: 28%;
}


.steam {
  width: 100%;
  height: 100%;
  bottom: 100%;
  overflow: hidden;
  -webkit-mask-image: linear-gradient(to top, black, transparent);
  mask-image: linear-gradient(to top, black, transparent);
}

.steam div {
  background: #e6f9ff;
  border-radius: 50%;
  aspect-ratio: 1 !important;
  width: 42%;
  position: relative;
  margin: -13px auto 0;
  animation-name: steammotion;
  animation-iteration-count: infinite;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-direction: alternate-reverse;
}

.steam div:nth-last-child(1) {
  animation-delay: -8s;
}

.steam div:nth-last-child(2) {
  animation-delay: -7s;
}

.steam div:nth-last-child(3) {
  animation-delay: -6s;
}

.steam div:nth-last-child(4) {
  animation-delay: -5s;
}

.steam div:nth-last-child(5) {
  animation-delay: -4s;
}

.steam div:nth-last-child(6) {
  animation-delay: -3s;
}

.steam div:nth-last-child(7) {
  animation-delay: -2s;
}

.steam div:nth-last-child(8) {
  animation-delay: -1s;
}

.tree1 {
  width: 75px;
  height: 84px;
  left: 28%;
  top: -41%;
  color: #75e964;
}

.tree2 {
  width: 75px;
  height: 99px;
  left: 37%;
  top: -69%;
  color: #75e964;
}

.tree3 {
  width: 65px;
  height: 79px;
  left: 74%;
  top: -45%;
  color: #75e964;
}

.tree4 {
  width: 95px;
  height: 112px;
  left: 44%;
  top: -69%;
  color: #75e964;
}

.tree5 {
  width: 75px;
  height: 72px;
  left: 64%;
  top: -19%;
  color: #56c53f;
}

.tree6 {
  width: 75px;
  height: 72px;
  left: 81%;
  top: 15%;
  color: #56c53f;
}

.tree .trunk {
  background: #cea991;
  border-radius: 50% / 0 0 5px 5px;
  width: 14%;
  height: 70%;
  margin: auto;
  inset: auto 0 0;
  transform: perspective(10px) rotateX(3deg);
}

.leaves {
  width: 100%;
  height: 55%;
  color: inherit;

}

.leaves div {
  color: inherit;
  background-color: currentColor;
  width: 33%;
  aspect-ratio: 1;
  border-radius: 50%;
}

.leaves div:nth-child(1) {
  left: 0%;
  top: 32%;
}

.leaves div:nth-child(2) {
  left: 20%;
  top: 5%;
}

.leaves div:nth-child(3) {
  left: 15%;
  top: 64%;
}

.leaves div:nth-child(4) {
  left: 50%;
  top: 0%;
}

.leaves div:nth-child(5) {
  left: 43%;
  top: 70%;
}

.leaves div:nth-child(6) {
  left: 70%;
  top: 22%;
}

.leaves div:nth-child(7) {
  left: 64%;
  top: 59%;
}

.leaves div:nth-child(8) {
  left: 23%;
  top: 32%;
  width: 55%;
  height: 68%;
}

.column {}