* {
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
    font-size: 1em;
    line-height: 1.6;
}


a, a:visited {
    color: hotpink;
}
a:hover {
    color: magenta;
}
p {
    margin: 10px 0;
}

html, body {
    margin: 0;
    color: #ffffff;
    background: #503645;
    text-align: center;
    height: 100%;
    min-height: 100%;
}

body {
    height: 100%;
    padding: 0 0 30px;
}

button img, .checkers {
    background-color: #ffffff;
    background-image: linear-gradient(45deg, #d8d8d8 25%, transparent 25%), linear-gradient(-45deg, #d8d8d8 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #d8d8d8 75%), linear-gradient(-45deg, transparent 75%, #d8d8d8 75%);
    background-size: 20px 20px;
    background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
}
#cursorfollower {
    pointer-events: none;
    outline: 1px solid;
    width: 20px;
    height: 20px;
    top: 100%;
    left: 100%;
    position: absolute;
    background-color: #ffffff;
    mix-blend-mode: difference;
}
.page-header {
    padding: 50px 0 20px;
    position: relative;
    flex-grow: 1;
    background: #de0686;
}

h1 {
    font-size: 2.5rem;
    margin: 0;
}

button, input {
    cursor: pointer;
    border: 0;
    vertical-align: middle;
    /* min-height: 35px; */
    font-weight: bold;
}

textarea {
    height: 1px;
    width: 1px;
    position: absolute;
    top: 101px;
}

#toolbar {
    background: #7b6270;
    padding: 15px 10px;
    vertical-align: middle;
    border-bottom: 3px solid black;
    /* border-top: 3px solid white; */
}

#toolbar button.disabled {
    color: lightgray;
    cursor: not-allowed;
}

#toolbar input[type="number"], label, button {
    margin: 0 4px;
    text-align: center;
    min-width: 35px;
    min-height: 37px;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid;
    line-height: 2;
}
#toolbar input[type="number"] {
    width: 50px;
}
#toolbar input[type="radio"] {
    position: absolute;
    top: -1000px;
}
#toolbar label.brush {
    background-color: white;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: linear-gradient(to right, black, black);
}
#toolbar label.brush.small {
    background-size: 10px 10px;

}
#toolbar label.brush.large {
    background-size: 20px 20px;
}

#toolbar input[type="radio"]:checked + label {
    background-color: hotpink;
}

button#color-launch {
    padding: 3px;
    background-blend-mode: difference;
    line-height: 0;
    margin: 0 10px 0 0;
}

button img {
    width: 100%;
    pointer-events: none;
    width: 29px;
    height: 29px;
    margin: 0;
}
[aria-label]{
    position: relative;
    cursor: pointer;
}

[aria-label]:hover:after, [aria-label]:hover:before {
    display: block;
}
[aria-label]:before {
    content: "";
    display: none;
    position: absolute;
    left: 10px;
    top: 100%;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #b9025e;
}
[aria-label]:after {
    content: attr(aria-label);
    display: none;
    position: absolute;
    z-index: 90;
    background: #b9025e;
    color: #FFFFFF;
    padding: 8px 20px;
    overflow: hidden;
    border-radius: 5px;
    white-space: pre;
    font-weight: bold;
    left: auto;
    left: -50%;
    top: 100%;
    line-height: 1;
    margin: 5px 0 0;
    font-size: 0.9rem;
  }

#elementsContainer {
    position: relative;
    margin: auto;
    padding: 25px 0;
}

button#copytext {
    appearance: none;
    -webkit-appearance: none;
    border: 0;
    font-weight: bold;
    padding: 6px 20px;
    margin: 0 0 35px;
    background-color: #ff00b1;
    color: white;
    border-radius: 2px;
}

button#copytext:hover {
    background-color: #bb0059;
}
#elementsContainer button:hover {
    background-color: magenta;
}

#elementsContainer.filled {
    display: block;
}

#elementsContainer.filled button {
    display: inline-block;
}

#paintArea {
    line-height: 0;
    position: relative;
    clear: both;
    margin: 0 auto 50px;
    overflow: hidden;
    cursor: none;
    outline: 10px solid gray;
}

#paintArea * {
    line-height: 0;
}

#paintArea img {
    width: 20px;
    background: white;
    display: inline-block;
    margin: 0;
    line-height: 0;
    padding: 0;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
#paintArea img[src*="images/spaces.png"],
#paintArea img[src*="images/ffffff00.png"] {
    background: none;
    box-shadow: inset 0 0 1px 0 black;
}



div#color-house {
    display: none;
}

div#color-house.showing {
    position: fixed;
    display: block;
    padding: 20px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(173, 0, 120, 0.59);
    z-index: 99999999999999999999999999999999;
}

.color-backer {
    width: 300px;
    height: 396px;
    left: 0;
    right: 0;
    top: 50px;
    bottom: 0;
    padding: 10px;
    margin: auto;
    position: absolute;
    text-align: center;
    background: #cccccc;
}

.color-backer button.color-picker {
    outline: 0;
    margin: 3px 3px 4px;
    padding: 0;
    line-height: 0;
    min-width: 3px;
    min-height: 0;
    border: 0;
}

.color-backer button.color-picker span {
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}

.color-backer button.color-picker:hover {
    outline: 3px solid white;
}

.color-backer button.color-picker.active {
    outline: 3px solid #ff0199;
    background-color: white;
}

.color-backer button.color-picker span {
    width: 47px;
    height: 30px;
    display: block;
    pointer-events: none;
}
.color-backer button.color-picker[value="jason-statham"] span {
    background-image: url("images/statham-bg.gif");
    background-size: contain;
}

.color-slider {
    margin: 17px 0 15px;
}

.color-slider .slider-inner {
    position: relative;
    min-height: 32px;
    background-size: 10px 50%, 10px 50%, 100% 100%;
    background-repeat: no-repeat;
    /* border-bottom: 2px solid white; */
    /* box-shadow: inset 0 -2px 0 0 white, inset 0 -4px 0 0 grey; */
}

.color-slider input {
    z-index: 99;
    cursor: pointer;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    margin: 0;
    -webkit-appearance: none;
    height: 100%;
    width: 100%;
    outline: 0;
    opacity: 0;
    background: transparent;
}
.color-slider input:focus {
    outline: 3px solid hotpink;
}

.color-backer button.bot {
    padding: 8px 15px;
    margin: 15px 4px 10px;
    color: black;
    border: 0;
}

.color-backer button.colortype {
    position: absolute;
    bottom: 100%;
    width: 48%;
    margin: 0;
    padding: 9px 0;
    color: #333333;
    background: #cccccc;
    border: 0;
}

.color-backer button.colortype.behind {
    background: #9b9898;
}

.color-backer button.colortype.behind:hover {
    background: #da0435;
    color: white;
}

.color-backer button.colortype.basic {
    left: 0;
}

.color-backer button.colortype.custom {
    right: 0;
}

.color-backer button.save {
    font-weight: bold;
    background: #ff0076;
    color: white;
}

.color-backer .bottom-section {
    background-color: white;
    margin-top: 16px;
}

.color-backer .enter-color {
    width: 100%;
    font-family: monospace;
    padding: 4px;
    text-align: center;
    background: white;
    color: #858383;
    margin: 0;
    border: 0;
}

.color-backer .result {
    padding: 62px 10px;
    border: 1px solid;
}


.switcher {
    text-align: left;
    padding: 10px 5px 0 10px;
    background: #69003e;
    overflow: hidden;
}
.switcher a {
    display: inline-block;
    padding: 3px 10px;
    background: #ffffff;
    vertical-align: bottom;
    font-weight: bold;
    color: #020000;
    border-radius: 5px 5px 0 0;
    text-decoration: none;
    box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.27);
}
.switcher a.active {
    background: #de0486;
    color: white;
}